body {
    background: whitesmoke;
    flex-direction: column;
    font-family: "Mona Sans", "Segoe UI", "Helvetica Neue", sans-serif;
    margin: 0;
}

h1 { color: dimgrey; font-size: 4vh; font-weight: 700; margin: 3vh 0 0 5vh; }

#fifa { color: cornflowerblue;}

#world { color: crimson;}

#cup { color: green}

.lead { color: dimgrey; font-size: 2.5vh; margin: 1.5vh 0 0 5vh; }

#viz {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px;
}

svg {
    background: transparent;
    border-radius: 6px;
    height: 100%;
    max-height: 75vh;
    max-width: 1200px;
    width: 100%;
}

.controls {
    align-items: center;
    display: flex;
    gap: 12px;
    padding: 12px 22px 22px 22px;
}

.slider-wrap { flex: 1; display:flex; align-items:center; gap:12px; }

input[type="range"] { width: 100%; }

#yearLabel {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 2vh;
    color: dimgrey;
    font-weight: 600;
    padding: 1vh;
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
}

button {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-color: whitesmoke;
    border-radius: 2vh;
    color: dimgrey;
    padding: 1vh 2vh;
    -webkit-backdrop-filter: blur(20px);
}

button[aria-pressed="true"] { background: rgba(255, 255, 255, 0.15); padding: 1vh 2.25vh; }

.legend {
    align-items:center;
    color:#444;
    display:flex;
    font-size:13px;
    gap:10px;
    margin-left: 18px;
}

.legend .sw {
    border-radius:3px;
    display:inline-block;
    margin-right:6px;
    height:10px;
    width:14px;
}

.tooltip {
    background: rgba(220, 220, 220, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 2vh;
    color: dimgrey;
    padding: 1vh 1.5vh;
    pointer-events: none;
    position: absolute;
    -webkit-backdrop-filter: blur(20px);
    z-index: 20;
}
